[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    venv
extend-ignore =
    B902,
    CCR001,
    CNL100,
    D100,
    D101,
    D102,
    D103,
    D107,
    D202,
    I100,
    W391
